<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T4M3BK"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T4M3BK');</script>
      <!-- End Google Tag Manager -->

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
      <div class="wrap">
        <a class="curate-logo" href="http://sylviang.me" target="_blank"></a>
        <a class="curate-link" href="http://sylviang.me" target="_blank">Curated by Sylvia Ng:</a>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
